<%= flash[:notice] %>

<div class="title"><%= "#{@event.name} - Table Size: #{@event.table_size_limit}" %></div>
<br />

<ul class="vertical menu" data-accordion-menu>
  <li>
    <a href="#">Guests - Count: <span id="guest_count"><%= @event.all_guests.length %></span> </a>
    <ul class="menu vertical nested">
      <%= render 'guest_list_table' %>
    </ul>
  </li>
</ul>

<br />
<%= render 'new_guest_form' %>
<%= link_to "Add a guest", new_event_guest_path(@event) %>
<br>
<%= link_to "Create Seating Arrangement", event_tables_path(@event) %>
