<%= render "title" %>

<div class="form_background">
  <%= flash[:notice] %>
  <div class="log_in_title">Log in</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br />
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email"%>
    </div>
      <br />
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
    <% if devise_mapping.rememberable? -%>
    <br />
      <div class="field" id="remember_me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
